@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

 
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* 1 column layout */
    grid-template-rows: auto 1fr 5%; /* 3 rows: header, content, and footer with footer fixed at 10% */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full width of viewport */
    gap: 2px; /* Optional gap between grid items */
  }
  
  .grid-header {
    grid-row: 1 / 2; /* Header row */
    display: flex;
    flex-wrap: wrap; /* Wrap if components overflow horizontally */
    padding: 10px;
    /*background-color: #f0f0f0; /* Optional: background for the header */
  }
  
  .grid-content {
    /*grid-row: 2 / 3; /* Content row */
    padding: 10px;
    overflow: auto; /* Allow scrolling if the content overflows */
    align-items: center;
    text-align: center;
  }
  
  .grid-footer {
    grid-row: 3 / 4; /* Footer row */
    display: flex;
    justify-content: center; /* Center footer content horizontally */
    align-items: center; /* Center footer content vertically */
    padding: 10px;
    /*background-color: #e0e0e0; /* Optional: background for the footer */
  }
  


  .grid-item {
    display: block;
    justify-content: center;
    align-items: center;
    /*
    border: 1px solid #ccc;*/
    /* For visual separation */
   /* background-color: #f0f0f0; */
    overflow: hidden;
    /* Prevent overflow of child content */
    text-align: center;
    width: 100%;
    /* Fill the width of the grid cell */
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  /* Optional: Specific styles for each grid item */
  .itemtop {
    padding: 10px;
    }


  .itemfullwidth{
    grid-column: span 2; /* Span across both columns */

  }
    /*

  .item3 {
    background-color: #90ee90;
  }

  .item4 {
    background-color: #ffeb3b;
  } */

    
}