@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Set the grid layout */
  .grid-container {

    display: grid;
    /* 1st column 20% width, 2nd column auto (remaining space) */
    grid-template-columns: 20vw 1fr;
    /* 1st row auto height (children heigh), 2nd row auto (remaining space) */
    grid-template-rows: auto 1fr;
    height: 100vh;
    /* Full height of viewport */
    width: 100vw;
    /* Full width of viewport */

    gap: 2px;
    /* Optional gap between grid items */
  }
  
  .grid-item {
    display: block;
    justify-content: center;
    align-items: center;
    /*
    border: 1px solid #ccc;*/
    /* For visual separation */
   /* background-color: #f0f0f0; */
    overflow: hidden;
    /* Prevent overflow of child content */
    text-align: center;
    width: 100%;
    /* Fill the width of the grid cell */
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  /* Optional: Specific styles for each grid item */
  .itemtop {
    padding: 10px;
    }
    /*

  .item3 {
    background-color: #90ee90;
  }

  .item4 {
    background-color: #ffeb3b;
  } */

    
}